<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITech Blog</title>
    
</head>
<body>
    <center><h1 style="font-size:40px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">ITech Blog</h1></center>
    <!----<img src="/blog/templates/blog/tech.jpg" width="24" height="39">>-->

    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}          

</body>
</html>